{% extends "base.html" %} {% block title %}Admin{% endblock %}
{% block content%}
<h1 align="center">Admin Page</h1>
<h2 align="center">Users</h2>
<table class="table table-striped" id="users">
    <thead>
        <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}} </td>
        <td>{{user.birth_date}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td><a class="icon" href="{{url_for('admins.update_user', id=user.id)}}" >
            <span class="fa fa-pencil glyphicon glyphicon-pencil"></span></a></td>
        <td><a class="icon" href="{{url_for('admins.delete_user', id=user.id)}}" >
            <span class="fa fa-trash glyphicon glyphicon-trash"></span>
        </a></td>
        </tr>
        {% endfor %}
    </tbody>


{% endblock %}
