{% extends "base.html" %} {% block title %}Admin{% endblock %}
{% block content%}
<h1 align="center">Admin Page</h1>
<h2 align="center">Seats</h2>
<form method="POST" align="center">
<a class="btn btn-primary link" href="/admin-area/flights" >Update Seats</a>
</form>
<br>
<table class="table table-striped" id="users">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Flight</th>
        <th scope="col">Row</th>
        <th scope="col">Seat</th>
        <th scope="col">Status</th>
        <th scope="col">Type</th>
        <th scope="col">User</th>
        </tr>
    </thead>
    <tbody>
        {% for seat in seats %}
        <tr>
        <td>{{seat.id}}</td>
        <td>{{seat.flight}} </td>
        <td>{{seat.seat_row}}</td>
        <td>{{seat.seat_column}}</td>
        <td>{{seat.seat_status}}</td>
        <td>{{seat.seat_type}}</td>
        <td>{{seat.user_id}}</td>
        </tr>
        {% endfor %}
    </tbody>


{% endblock %}
