{% extends "base.html" %}
{% block title %}Admin{% endblock %}

{% block content%}
<h1 align="center">Admin Page</h1>
<h3 align="center">Statistic for flight {{flight}}</h3>
<form method="POST">
<div class="container" align="center">
    <a class="btn btn-primary link" href="/admin-area/refresh-statistics" >Refreshing Statistics File</a>
    <button class="btn btn-info dropdown dropdown-toggle" type="button" id="flightmenu" data-toggle="dropdown">Statistics for flights
     <span class="caret"></span></button>
     <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
     {% for seat in flights %}
     <li role="presentation">
     <a role="menuitem" tabindex="-1" href="{{url_for('admins.admin_flight_statistic', flight=seat.seat_flight)}}"> Statistic for flight{{seat.seat_flight}}</a></li>
     {% endfor %}
     </ul>
</div>
<br>
<br>
<div class="container" align="center">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'
    ></script>
    <canvas id="chart" width="600" height="400"></canvas>
    <script>
      var pieData = [
        {% for item, label, colors in set %}
          {value: {{item}},
          label: "{{label}}",
          color : "{{colors}}"
          },
        {% endfor %}
      ];

      // draw pie chart
      new Chart(document.getElementById("chart").getContext("2d")).Pie(pieData);
    </script>
</div>
</form>
{% endblock %}
