{% extends "base.html" %} {% block title %}Bookingsystem{% endblock %}
{% block content%}
<form method="POST">
  <h1 align="center">Bookingsystem</h1>
   <h3 align="center">Please choose your flight to continue your seat reservation. </h3>
  <br>
  <div class="dropdown" align="center">
    <button class="btn btn-info dropdown-toggle" type="button" id="flightmenu" data-toggle="dropdown">Flights
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" value="chartIn.txt" href="/seats/1">Flight1</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" value="chartIn2.txt" href="/seats/2">Flight2</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" value="chartIn3.txt" href="/seats/3">Flight3</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" value="chartIn3.txt" href="/seats/4">Flight4</a></li>
    </ul>
  </div>
{% endblock %}
