{% extends "base.html" %} {% block title %}Bookingsystem{% endblock %}
{% block content%}
<form method="POST">
  <h1 align="center">Booking System</h1>
   <h3 align="center">Please choose your flight to continue your seat reservation. </h3>
  <br>
  <div class="dropdown" align="center">
    <button class="btn btn-info dropdown-toggle" type="button" id="flightmenu" data-toggle="dropdown">Flights
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      {% for seat in flights %}
      <li role="presentation"><a role="menuitem" tabindex="-1" href="{{url_for('views.flight', flights=seat.seat_flight)}}">Flight{{seat.seat_flight}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div>
  <p align="center">Need help with your seat reservation? Click
	<a href="/help" class="link-primary">here </a>
	to get to our help page. </p>
  </div>
{% endblock %}
</form>
