{% extends "base.html" %}
{% block title %}Help{% endblock %}

{% block content%}
<h1 align="center">Help</h1>
<h3>General</h3>
<p> Our navigation bar on top of the page helps you to navigate through our booking system. </p>
<ul>
    <li><strong>Home</strong>: This will direct you to our home page where you have access to our seat reservation
        system.
    </li>
    <li><strong>Booking System</strong>: This will give you direct access to our seat reservation system.
    </li>
    <li><strong>Help</strong>: Since you are on our help page you might have already found this button, which leads you
        to this help page. In case you want to come back, just press this button in the navigation bar.
    </li>
    <li><strong>Logout</strong>: When you press this button, you will be logged out of the system and redirected to our
        login page.
    </li>
</ul>
<h3>How can I reserve a seat?</h3>
<div style="text-align: justify">
<p> Navigate to our <a href="/bookingsystem" class="link-primary">booking system</a> page via the button in the
    navigation bar on top of the page or via the link on our <a href="/" class="link-primary">home page</a>.
    Afterwards, you can choose the flight, that you want to reserve a seat on, from the dropdown menu. Access the
    dropdown menu via pressing the button saying "Flights".
</p>
<p>After choosing your flight, a chart with all seats on the flight will be displayed. Blue seats are still available
    and can be reserved by clicking on them. You will be asked to confirm your choice of seat in a popup. Please confirm
    your reservation by clicking "Reserve seat" in the popup. If you no longer want to reserve the seat you have clicked
    on, simply close the popup and you can continue to reserve other seats. </p>
<p>A seat, that has been reserved by you, will be displayed in green. If you want to cancel the reservation of one of
    those seats, simply click on the respective seat. A popup will ask you to confirm the cancellation by clicking
    "Cancel seat". If you decide not to cancel the seat, just close the popup and the respective seat will still be
    reserved by you.</p>
<p>Red seats are already taken by other users, therefore you will not be able to reserve them. </p>
<p>Once you have finished your reservation, click on the "Logout" button in the navigation bar on top of the page, to
    leave our websites.</p>
</div>
{% endblock %}
