{% extends "base.html" %}
{% block title %}Home{% endblock %}


{% block content%}
<h1 align="center">Home</h1>
<p class="text-center">
    Welcome to the snakes on a plane homepage. You can make your seat reservation
    <a href="/bookingsystem" class="link-primary">here</a>
    or via clicking 'Booking System' in the header of the page.
</p>
<p class="text-center">Should you seek assistance on how to use this website, please see our
    <a href="/help" class="link-primary">help </a>
    page.
</p>
{% endblock %}
