{% extends "base.html" %} {% block title %}Seats{% endblock %} {% block content%} 
<h1 align="center">Seats</h1> 
<div class="container">
	<button type="button" class="btn btn-light">1</button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
</div>
<div class="container">
	<button type="button" class="btn btn-light">2</button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
</div>
<div class="container">
	<button type="button" class="btn btn-light">3</button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
</div>
<div class="container">
	<button type="button" class="btn btn-light">4</button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
</div>
<div class="container">
	<button type="button" class="btn btn-light">5</button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
</div>
<div class="container">
	<button type="button" class="btn btn-light">6</button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
</div>
<div class="container">
	<button type="button" class="btn btn-light">7</button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
</div>
<div class="container">
	<button type="button" class="btn btn-light">8</button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
</div>
<div class="container">
	<button type="button" class="btn btn-light">9</button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
</div>
<div class="container">
	<button type="button" class="btn btn-light">10</button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
	<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></button>
</div>
{% endblock %} 
