{% extends "base.html" %} {% block title %}Seats{% endblock %}

{% block content%}
<form method="POST">
<h1 align="center">Seats</h1>

	{% for element in list_of_rows %}
	<div class="container" align="center">
		{% for seat in element %}
		<!-- checking for aisle seat -->
		{% if seat.seat_type == 'Aisle_Left' %}
		{% if seat.seat_status == 'True' %}
		<a type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="{{url_for('views.booking_seat', id=seat.id, flights=seat.flight)}}">{{seat.seat_column}}</a>
		<button type="button" class="btn btn-outline-light" disabled></button>
		{% elif seat.user_id == current_user.id%}
		<a type="button" class="btn btn-success btn-lg active" role="button" aria-pressed="true" href="{{url_for('views.cancel_seat', id=seat.id, flights=seat.flight)}}">{{seat.seat_column}}</a>
		<button type="button" class="btn btn-outline-light" disabled></button>
		{% elif seat.seat_status == 'False' %}
		<a type="button" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">{{seat.seat_column}}</a>
		<button type="button" class="btn btn-outline-light" disabled></button>
		{% endif %}
		<!-- checking for other requirements -->
		{% elif seat.seat_status == 'True' %}
		<a type="button" href="{{url_for('views.booking_seat', id=seat.id, flights=seat.flight)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" data-toggle="modal" data-target="#exampleModal">{{seat.seat_column}}</a>
		<!-- Begin Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  			<div class="modal-dialog" role="document">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          				<span aria-hidden="true">&times;</span>
        				</button>
      				</div>
      				<div class="modal-body">
        				...
      				</div>
      				<div class="modal-footer">
        				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        				<a type="button" class="btn btn-primary" href="{{url_for('views.booking_seat', id=seat.id, flights=seat.flight)}}">Save changes</a>
      				</div>
    			</div>
  			</div>
		</div>
		<!-- End Modal -->
		{% elif seat.user_id == current_user.id%}
		<a type="button" class="btn btn-success btn-lg active" role="button" aria-pressed="true" href="{{url_for('views.cancel_seat', id=seat.id, flights=seat.flight)}}">{{seat.seat_column}}</a>
		{% elif seat.seat_status == 'False' %}
		<a type="button" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">{{seat.seat_column}}</a>
		{% endif %}
		{% endfor %}
		</div>

		{% endfor %}

{% endblock %}
</form>
